@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.container {
    max-width: 1200px;
    padding-right: 2rem;
    padding-left: 2rem;
}
.filter-options li a {
    display: inline-block;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 7px 0.75rem;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}
section{
    position: relative;
}

.navbar-show {
    height: 15.75rem!important;
    opacity: 1!important;
}
article h3, strong{
    padding-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
article p{
    margin: 20px 0;
    padding: 0;
    font-size: large;
    color: #333;
    line-height: 1.3rem;
}
article img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 600px;
    margin: 20px 0px;
    display: block;
    border-radius: .35rem;
}
